<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/display.css">

    </link>
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script type="text/javascript" src="http://127.0.0.1:5000/static/ajax.js">
</script>
</head>

<body>
<div id="layer3" style="position:absolute;" >
<h1>BILL</h1><br/><br/>
<div class="wrapper">
<input id="search_id" type="text" placeholder="Search.." name="search" value="">
<button type="submit">Search</button><br>
</div>
<strong>Username</strong><input type="text" name=name/><br/><br/>
<strong>PhoneNo.</strong><input type="text" name=phone  size="10"/><br/><br/>
<strong>Date</strong><input type="date" name=date/><br/><br/>
<strong>City</strong><input type="text" name=city/><br/><br/>
<table id="layer1" border="1" cellspacing="0" cellpadding="15">
    <tr>
        <th>SL NO.</th>
        <th width="50px">MEDICINE NAME</th>
        <th>MFG DATE</th>
        <th>EXP DATE</th>
        <th>QTY</th>
        <th>TAX</th>
        <th>AMOUNT</th>
    </tr>
    <tr>
        <th>1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>4    </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="7">TOTAL</td>
    </tr>
</table>
</div>
</body>
</html>