.length
{
width:60%;
}
h1{
border-bottom:2px solid white;
}

.text-white{
text-color:#ffff;
}
.search1
{
margin-top:25px;
}

#user_details
{
margin-top: 30px;
position: relative;
}

.search
{
width:10%;
}

.add
{
width:10%;
}

#count1
{
margin-top:10;
}

.card{
background-color:#385070;
}

.bill
{
width:10%;
}


table.dataTable {
    color:#FFFFF;
}
.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #fff;
}


table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }
table thead tr th{
    color:#ffff
}