@import "http://fonts.googleapis.com/css?family=Raleway";
body{
margin:0;
padding:0;
font-family:'Raleway',sans-serif;
}

#first{
width:400px;
height:500px;
box-shadow:0 0 15px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
float:left;
background-color:EEE8E8;
padding:10px 50px 0;
margin:2% 30%;
border-radius:5px;
}

h1{
border-bottom:1px solid #ccc;
margin-bottom:30px
}

span{
float:left;
margin-top:10px;
font-size:18px;
}

.one{
display:block;
margin-left:-5px;
margin-top:50px;
}

.two{
display:block;
margin-left:20px;
margin-top:20px;
}

.batch_id{
width:150px;
}

.three{
display:block;
margin-left:30px;
margin-top:20px;
}

.four{
display:block;
margin-left:30px;
margin-top:20px;
}

.five{
display:block;
margin-left:-3px;
margin-top:20px;
}

.cost{
width:150px;
}

.six{
display:block;
margin-left:8px;
margin-top:20px;
}

.qty{
width:150px;
}

.submit{
width:100px;
margin-left:60px;
padding:10px;
margin-top:30px;
background:linear-gradient(#A4A4A4,#424242);
color:#fff;
font-weight:700;
}

.submit:hover{
background:linear-gradient(#424242,#A4A4A4);
}