<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='display.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='ajax.js')}}"></script>
</head>

<body>
<div align="center">
<div class="card text-white mb-3" style="min-width:55rem;min-height:40rem;">
    <div class="card-body">
        <h1 class="card-title shop_name">{{ shop_name }}</h1>
        <a class="pull-right btn btn-info" href="/update/{{ shop_name }}"><u>update medicine</u></a>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="user_details">
                    <label>Username</label>
                    <input id="uname" type="text" name="username" class="input-xlarge" required/>
                    <label>Phone number </label>
                    <input id="phoneNo" type="tel" pattern="[789][0-9]{9}" name="phoneNo" class="input-xlarge" required/>
                    <label>Email</label>
                    <input id="email" type="email" name="email" class="input-xlarge" required/>
            </div>
            <div class="search1" align="center">
                <input type="text" id="txtSearch" class="form-control input-sm length" maxlength="40" placeholder="Search..." />
                <div style="margin-top:10px">
                    <button  class="btn btn-primary btn-sm search" id="search">Search</button>
                    <button  id="add" class="btn btn-primary btn-sm add">Add</button>
                </div>
            </div>
        <div>
        <label align="right" id="count1">Count:<small id="count">0</small></label>
        <table id="bill_table" class="tables" border="0" cellspacing="1" cellpadding="15">
            <thead>
            <tr>
                <th>SL NO.</th>
                <th>MEDICINE NAME</th>
                <th>MFG DATE</th>
                <th>EXP DATE</th>
                <th>COST</th>
                <th>QTY</th>
                <th>AMOUNT</th>
            </tr>
           </thead>
            <tbody id="rows">

            </tbody>
            <tr>
                <th colspan="7">TOTAL :<span id="total" >0</span></th>
            </tr>
        </table>
        </div>
         <div style="margin-top:30px;">
                <button  type="submit" class="btn btn-primary btn-sm bill" id="bill">Bill</button>
         </div>
    </div>
</div>
</div>
</div>
</body>
</html>
